@main("") {

}

    <div class="panel panel-primary">
      <div class="panel-heading"></div>
      <div class="panel-body"></div>


<div class="container text-center">
    <p class="titulos">Tus Concursos </p>
    <h2>Estas opciones te permitiran gestionar tus concursos!!</h2>
    <p>&nbsp</p>
    <br>
       <div class="row">
         <div class="col-sm-3">
           <h4>Consultar concursos</h4><br>
           <a href="@routes.Application.listarConcursos">
             <img src="@routes.Assets.versioned("images/consultar.jpg")" class="img-circle person" alt="Random Name" width="304" height="236">
           </a>
         </div>

             <div class="col-sm-3">
               <h4>Crear concursos</h4><br>
               <a href="@routes.Application.formConcurso">
                 <img src="@routes.Assets.versioned("images/crear.jpeg")" class="img-circle person" alt="Random Name" width="304" height="236">
               </a>
             </div>

         <div class="col-sm-3">
           <h4>Modificar concurso</h4><br>
           <a href="@routes.Application.listarConcursos">
             <img src="@routes.Assets.versioned("images/modificar.jpg")" class="img-circle person" alt="Random Name" width="304" height="236">
           </a>
         </div>
           <div class="col-sm-3">
             <h4>Eliminar concursos</h4><br>
             <a href="@routes.Application.listarConcursos">
               <img src="@routes.Assets.versioned("images/eliminar.jpg")" class="img-circle person" alt="Random Name" width="304" height="236">
             </a>
           </div>


       </div>
 </div>

       </div>
    </div>	
    </div> 