@(crearAdministradorForm: Form[views.formdata.CreateAdminFormData]) 
@import helper._

@main("") {

}

    <div >

	@if(crearAdministradorForm.hasErrors) {
	<ul>
	
		@for(error <- crearAdministradorForm("username").errors) {
		  <div class="alert alert-danger alert-dismissable">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
		  @error.key : @Messages(error.messages, error.arguments.toArray:
			_*)</div>
		}	
	<p class="bg-danger">
		 @for(error <- crearAdministradorForm("first_name").errors) {
			<div class="alert alert-danger alert-dismissable">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
				@error.key : @Messages(error.messages, error.arguments.toArray:
			_*)</div>
		} @for(error <- crearAdministradorForm("last_name").errors) {
			<div class="alert alert-danger alert-dismissable">
	    	<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>		
				@error.key : @Messages(error.messages, error.arguments.toArray:
			_*)</div>
		} @for(error <- crearAdministradorForm("email").errors) {
			<div class="alert alert-danger alert-dismissable">
		    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>	
				@error.key : @Messages(error.messages, error.arguments.toArray:
			_*)</div>
		} @for(error <- crearAdministradorForm("password").errors) {
			<div class="alert alert-danger alert-dismissable">
		    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>	
				@error.key : @Messages(error.messages, error.arguments.toArray:
			_*)</div>
		}
		
	</ul>
	} 

	<div class="container">
    	<h3 class="text-center"></h3>
    	<h3 class="text-center">Registrate</h3>
    	<p class="text-center"><em>Haz parte de nuestra comunidad!</em></p>

      	<div class="col-md-12">
        	<div class="col-sm-12 form-group">
	
				@form(routes.Application.crearAdministrador) {
				  <div class="input-group">
				    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input type="text" name="username" placeholder="Username" class="form-control"
							value="@crearAdministradorForm("username").value">
  				  </div>
				  <div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>				  
						<input type="text" name="first_name" placeholder="Nombres" class="form-control"
							value="@crearAdministradorForm("first_name").value">
  				  </div>
				  <div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>				  
						<input type="text" name="last_name" placeholder="Apellidos" class="form-control"
							value="@crearAdministradorForm("last_name").value">
  				  </div>
				  <div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>				  
						<input type="text" name="email" placeholder="Email" class="form-control"
							value="@crearAdministradorForm("email").value">
  				  </div>			
				  <div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>				  
						<input type="password" name="password" placeholder="Password" class="form-control">
 				  </div>
 				  <div class="input-group">
				    <button type="submit" class="btn btn-primary" >
				    	Registrarse
				    </button>
				  </div>  
				}
	
        </div>
      </div>