@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)



<!DOCTYPE html>
<html lang="en">
	<head>
  		<title>SUPERVOICES</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		 <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" media="screen">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  		
    </head>
    <body>
	  <nav class="navbar navbar-default navbar-fixed-top">
	    <div class="container-fluid">
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="/#">SUPERVOICES</a>
	      </div>
	      @if(session.get("username") != "" && session.get("username") != null){
	      <div class="collapse navbar-collapse" id="myNavbar">
	        <ul class="nav navbar-nav navbar-right">
	          <li><a >BIENVENIDO @session.get("username") </a></li>
	          <li><a href="@routes.Application.adminConcursos">VOLVER AL HOME </a></li>
	          <li><a ></a></li>
	          <li><a href="@routes.Application.logout()">SALIR</a></li>
	        </ul>
	      </div>
		 }else{
	      <div class="collapse navbar-collapse" id="myNavbar">
	        <ul class="nav navbar-nav navbar-right">
	          <li><a href="@routes.HomeController.index#quienes">QUIENES SOMOS</a></li>
	          <li><a href="@routes.HomeController.index#valor">NUESTRA APLICACION</a></li>
	          <li><a href="@routes.Application.login">ENTRAR</a></li>
	          <li><a href="@routes.Application.formadmin">CREAR UNA CUENTA</a></li>
	        </ul>
	      </div>	 
		 }	
	    </div>
	  </nav>   
	</div>

 
     <footer class="footer">
        <div class="pull-left">
           <p>SUPERVOICES</p>
        </div>
         <div class="pull-right margin-top-10">
           <small>Universidad de los Andes &copy; 2017</small>
         </div>
       </footer>       
 	</body>
</html>
